* {
    font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif;
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }

.menos{
    display:none;
}

@media all and (min-width: 993px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.dropdown-toggle::after {
    display: none;
}
.dropdown-menu{
    border-radius: 0%;
    border-top: 3px solid rgb(255, 56, 89);
}
.dropdown-item:hover{
    color:rgb(255, 56, 89);
}
.menu1:hover{
    color: rgb(255, 56, 89);
}

.menu1:hover > .menos{
    display: block;
}
.menu1:hover > .mas{
    display: none;
}

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.get_info{
    border: 1px solid grey;
    background-color: white;
    margin-left: 12px;
}

nav li{
    min-width: 30px;
}

.content{
    padding: 20px 12px;
}
.fila{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

.color{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px 1px;
    padding: 6px;   
}

.color:hover{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.color1{
    height: 120px;
    width: 120px;
    border-radius: 5px;
}
.color a{
    text-decoration: none;
}

.container hr{
    color: gray;
}

.footer{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer a{
    margin:5px;
}

